.filters
{
    background-color: aliceblue;
    color: black !important;

}

.filterDiv
{
    margin:5px;
}


.checkbox-ok-btn
{
    background-color: #3a76b2;
    color: white;
    border: 0px;

    margin: 2px;
    width:50px;
}

.modal-header-custom
{
    outline: 1px solid #003366 !important;
    background-color: #003366 !important;
    border-radius: 0px;
    border-bottom: 1px solid #003366 ;
}
.showbox
{
    display: block;
}

.buttonColor
{
    background-color: #003366 !important;
}

.showFilter
{
    color: #003366 !important;
}

.modal-header > button.close
{
    opacity: 100 !important;
    color: white;
}

.modal-header > button.close:hover
{
    opacity: 100 !important;
    color: white;
}


.custom-checkbox-dropdown-parent
{
    display: block;
    width: 100%;
}

.my-active
{
    display: block !important;
}

.custom-checkbox-dropdown
{    position: absolute;
    z-index: 1000;
    background: white;
    opacity: 100;
    box-shadow: 1px;
    border: 1px solid;
    box-shadow: 1px 1px 1px 1px grey;
    display: none;
}


.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.SearchInput {
    width: 72%;
    display: inline;
    border:0px;
}



@media screen and (min-width: 1000px) {
    .SearchInput {
        width: 85%;
        display: inline;
    }
}

@media screen and (min-width: 1400px) {
    .SearchInput {
        width: 88%;
        display: inline;
    }
}

.SearchInputIcon {
    width: 10%;
    display: inline;
    color: #6c757d;
}


.SearchControl {
    width: 13%;
   display: inline-block;
    margin: 2px;   
}


.SearchInput:focus
{
    border-color: #003366;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #003366;
    outline: 0 none;
}

.fullbox
{
    background-color: white;;
}

.task-filter {
    margin: 2px;
    background: #ebebeb;   
}


.clearSearch {
    background: #003366;
    color: white;
    // margin: 2px;
    // width: 75px;
    // display: inline-block;
    // height: 30px;
}

.clearSearch:hover {
   
    background: #003366;
    color: white !important;   
    
}




